.questionContainer {
    width: 75%;
    display: inline-block;
    margin: auto;
}

.questionContainer h1 {
    font-size: 4vh;
}

.questionContainer label {
    display: block;
    width: 100%;
    height: 5vh;
    font-size: 4vh;
}

.questionContainer label input {
    width: 2.5vh;
    height: 2.5vh;
}